<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">
                  <li class="breadcrumb-item">
                    <h4 class="page-title">All Clients</h4>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                <div class="row">
                    <div class="col-sm-12">
                    <div class="ngxTableHeader">
                        <ul class="header-buttons-left ms-0 mb-0">
                        <li class="dropdown">
                            <h2>
                            <strong>Clients</strong></h2>
                        </li>
                        <li class="dropdown m-l-20">
                            <label for="search-input"><i class="material-icons search-icon">search</i></label>
                            <input placeholder="Search" type="text" class="browser-default search-field"
                            (keyup)='filterDatatable($event)' aria-label="Search box">
                        </li>
                        </ul>
                        <ul class="header-buttons">
                        <li>
                            <button mat-mini-fab color="primary" (click)='addRow(addRecord)'>
                            <mat-icon class="col-white">add</mat-icon>
                            </button>
                        </li>
                        </ul>
                    </div>
                    <ngx-datatable #table class="material" [rows]="data" [columns]="columns" [sortType]="'multi'"
                        [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'60'" [limit]="5">
                        <!-- user image -->
                        <ngx-datatable-column name="Image" sortable="false" prop="client_profile" [width]="100">
                        <ng-template let-row="data" let-value="value" let-i="index" ngx-datatable-cell-template>
                            <td class="table-img padding-0">
                            <img width="40" src="{{ value ? value : 'assets/images/nologo.png' }}" />
                            </td>
                        </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Company Code" prop="client_code" [width]="130"></ngx-datatable-column>
                        <ngx-datatable-column name="Company Name" prop="client_name" [width]="130"></ngx-datatable-column>
                        <ngx-datatable-column name="Address" prop="client_address" [width]="200"></ngx-datatable-column>
                        <!-- <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
                                        </ngx-datatable-column> -->
                        <!-- action buttons -->
                        <ngx-datatable-column name="Actions" sortable="false" [width]="120">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <span>
                            <button mat-icon-button color="accent" class="btn-tbl-edit" (click)='editRow(row, rowIndex, editRecord)'>
                                <mat-icon aria-label="Edit" class="col-white">edit
                                </mat-icon>
                            </button>
                            <button mat-icon-button color="accent" class="btn-tbl-delete" (click)='deleteRow(row,rowIndex, deleteRecord)'>
                                <mat-icon aria-label="Delete" class="col-white">delete
                                </mat-icon>
                            </button>
                            </span>
                        </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                    <!-- Add Record Modal Window -->
                    <ng-template #addRecord let-modal>
                        <div class="modal-header editRowModal">
                        <h4 class="modal-title" id="modal-basic-title">
                            <div class="modal-header ">
                            <div class="modal-about">
                                <div class="font-weight-bold p-t-10 font-17">
                                New Client</div>
                            </div>
                            </div>
                        </h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                            <span aria-hidden="true"><i class="material-icons">close</i></span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <form class="register-form" [formGroup]="addClient" (ngSubmit)="setClientDetails()">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width">
                                    <mat-label>Company Code</mat-label>
                                    <input matInput formControlName="client_code"  readonly required>
                                    <mat-icon matSuffix>business</mat-icon>
                                    <mat-error *ngIf="addClient.get('client_code').hasError('required')">
                                        Company Code is required
                                    </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Company Name</mat-label>
                                        <input matInput formControlName="client_name" required>
                                        <mat-icon matSuffix>business</mat-icon>
                                        <mat-error *ngIf="addClient.get('client_name').hasError('required')">
                                            Company Name is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Contact Person Name</mat-label>
                                        <input matInput formControlName="contact_person" required>
                                        <mat-icon matSuffix>face</mat-icon>
                                        <mat-error *ngIf="addClient.get('contact_person').hasError('required')">
                                            Contact Person is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Contact Person Designation</mat-label>
                                        <input matInput formControlName="contact_designation" required>
                                        <mat-icon matSuffix>school</mat-icon>
                                        <mat-error *ngIf="addClient.get('contact_designation').hasError('required')">
                                            Contact Person Designation is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Contact Person Mobile No</mat-label>
                                        <input matInput formControlName="contact_mobileno" required>
                                        <mat-icon matSuffix>phone</mat-icon>
                                        <mat-error *ngIf="addClient.get('contact_mobileno').hasError('required')">
                                            Contact Person Mobile No is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Contact Person Email Id</mat-label>
                                        <input matInput formControlName="contact_emailid" required>
                                        <mat-icon matSuffix>email</mat-icon>
                                        <mat-error *ngIf="addClient.get('contact_emailid').hasError('required')">
                                            Contact Person Email Id is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">  
                                    <mat-form-field class="example-full-width">
                                        <ngx-mat-file-input  placeholder="Company Logo" (change)="onFileChange($event)" required>
                                        </ngx-mat-file-input>
                                        <mat-icon matSuffix>cloud_upload</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width">
                                    <mat-label>Address</mat-label>
                                    <textarea matInput formControlName="client_address"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                           
                            <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                <button class="btn-space" [disabled]="!addClient.valid || submitDisable" mat-raised-button
                                color="primary">Submit</button>
                                <button type="button" mat-button data-dismiss="modal">Cancel</button>
                            </div>
                            </div>
                        </form>
                        </div>
                    </ng-template>
                    <!-- Edit Record Modal Window -->
                    <ng-template #editRecord let-modal>
                        <div class="modal-header editRowModal">
                        <h4 class="modal-title" id="modal-basic-title"> <div class="modal-header ">
                            <div class="modal-about">
                                <div class="font-weight-bold p-t-10 font-17">
                                Update Client</div>
                            </div>
                            </div>
                        </h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true"><i class="material-icons">close</i></span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <form [formGroup]="editClient" (ngSubmit)="updateClientDetails()">
                            <div class="input-field col s12 d-none">
                            <input formControlName="id" class="form-control" type="hidden">
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width">
                                    <mat-label>Company Code</mat-label>
                                    <input matInput formControlName="client_code"  readonly required>
                                    <mat-icon matSuffix>business</mat-icon>
                                    <mat-error *ngIf="editClient.get('client_code').hasError('required')">
                                        Company Code is required
                                    </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Company Name</mat-label>
                                        <input matInput formControlName="client_name" required>
                                        <mat-icon matSuffix>business</mat-icon>
                                        <mat-error *ngIf="editClient.get('client_name').hasError('required')">
                                            Company Name is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Contact Person Name</mat-label>
                                        <input matInput formControlName="contact_person" required>
                                        <mat-icon matSuffix>face</mat-icon>
                                        <mat-error *ngIf="editClient.get('contact_person').hasError('required')">
                                            Contact Person is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Contact Person Designation</mat-label>
                                        <input matInput formControlName="contact_designation" required>
                                        <mat-icon matSuffix>school</mat-icon>
                                        <mat-error *ngIf="editClient.get('contact_designation').hasError('required')">
                                            Contact Person Designation is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Contact Person Mobile No</mat-label>
                                        <input matInput formControlName="contact_mobileno" required>
                                        <mat-icon matSuffix>phone</mat-icon>
                                        <mat-error *ngIf="editClient.get('contact_mobileno').hasError('required')">
                                            Contact Person Mobile No is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Contact Person Email Id</mat-label>
                                        <input matInput formControlName="contact_emailid" required>
                                        <mat-icon matSuffix>email</mat-icon>
                                        <mat-error *ngIf="editClient.get('contact_emailid').hasError('required')">
                                            Contact Person Email Id is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width">
                                    <mat-label>Address</mat-label>
                                    <textarea matInput formControlName="client_address"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div [ngClass]="{
                                    'col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2': profilePreview,
                                    'col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2': !profilePreview
                                    }">  
                                    <mat-form-field class="example-full-width">
                                        <ngx-mat-file-input  placeholder="Company Logo" (change)="onFileChangeUpdate($event)" required>
                                        </ngx-mat-file-input>
                                        <mat-icon matSuffix>cloud_upload</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="profilePreview">  
                                    <img [src]="profilePreview"  style="width:30%;height:30%">
                                </div>
                            </div>
                            <div class="modal-footer">
                            <div class="button-demo">
                                <button mat-raised-button type="submit" color="primary">Update</button>
                                <button mat-button type="button" (click)="modal.close()">Cancel</button>
                            </div>
                            </div>
                        </form>
                        </div>
                    </ng-template>


                    <ng-template #deleteRecord let-modal>
                        <div class="modal-header deleteRowModal">
                        <h4 class="modal-title" id="modal-basic-title"> <div class="modal-header ">
                            <div class="modal-about">
                                <div class="font-weight-bold p-t-10 font-17">
                                Delete Client</div>
                            </div>
                            </div>
                        </h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true"><i class="material-icons">close</i></span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure?</p>
                            <div class="modal-footer">
                            <div class="button-demo">
                                <button mat-raised-button type="submit" color="primary" (click)="deleteClientDetails()">Delete</button>
                                <button mat-button type="button" (click)="modal.close()">Cancel</button>
                            </div>
                            </div>
                        </div>
                    </ng-template>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>