<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="header">
                        <h2>{{'REFUND-PROCESS.TITLE'| translate}}</h2>
                        
                    </div>
                    <div class="body">
                        <form class="m-4">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>{{'REFUND-PROCESS.LIST.NRIC-NUMBER' | translate}}</mat-label>
                                        <input type="text" matInput [formControl]="nric_number" 
                                        [matAutocomplete]="autoNric" #nrictrigger="matAutocompleteTrigger">
                                        <div matSuffix style="display:flex">
                                            <button  
                                              (click)="clearInput($event,nric_number,'nric_number')"
                                              *ngIf=" nric_number?.value!==null && nric_number?.value!==''"
                                              aria-label="Clear"
                                              mat-icon-button
                                              type="button"
                                            >
                                              <mat-icon>clear</mat-icon>
                                            </button>
                                            <button
                                              (click)="openOrClosePanel($event,nrictrigger)"
                                              aria-label="Clear"
                                              mat-icon-button
                                              type="button"
                                            >
                                              <mat-icon>{{arrowIconSubject.getValue()}}</mat-icon>
                                            </button>
                                        </div>
                                        <mat-autocomplete #autoNric="matAutocomplete" 
                                        [displayWith]="displayFnNRICNUmber" 
                                        (optionSelected)="selectedNricNumber($event);arrowIconSubject.next('arrow_drop_down')"
                                        (closed)="arrowIconSubject.next('arrow_drop_down')"
                                        (opened)="arrowIconSubject.next('arrow_drop_up')">
                                        <mat-option *ngFor="let option of nricNumberList | async" [value]="option">
                                            {{option.nric_number}}
                                        </mat-option>
                                        </mat-autocomplete>
                                        <mat-error *ngFor="let validation of validation_msgs.nric_number">
                                            <div *ngIf="nric_number.hasError(validation.type)">
                                              {{validation.message}}
                                            </div>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>{{'REFUND-PROCESS.LIST.PASSPORT-NUMBER' | translate}}</mat-label>
                                        <input type="text" matInput [formControl]="passport_number" 
                                        [matAutocomplete]="autoPassport"
                                        #passporttrigger="matAutocompleteTrigger">
                                        <div matSuffix style="display:flex">
                                            <button  
                                              (click)="clearInput($event,passport_number,'passport_number')"
                                              *ngIf=" passport_number?.value!==null && passport_number?.value!==''"
                                              aria-label="Clear"
                                              mat-icon-button
                                              type="button"
                                            >
                                              <mat-icon>clear</mat-icon>
                                            </button>
                                            <button
                                              (click)="openOrClosePanel($event,passporttrigger)"
                                              aria-label="Clear"
                                              mat-icon-button
                                              type="button"
                                            >
                                              <mat-icon>{{arrowIconSubject.getValue()}}</mat-icon>
                                            </button>
                                        </div>
                                        <mat-autocomplete #autoPassport="matAutocomplete" 
                                        [displayWith]="displayFnPassportNumber" 
                                        (optionSelected)="selectedPassportNumber($event);arrowIconSubject.next('arrow_drop_down')"
                                        (closed)="arrowIconSubject.next('arrow_drop_down')"
                                        (opened)="arrowIconSubject.next('arrow_drop_up')">
                                        <mat-option *ngFor="let option of passportNumberList | async" [value]="option">
                                            {{option.passport_number}}
                                        </mat-option>
                                        </mat-autocomplete>
                                        <mat-error *ngFor="let validation of validation_msgs.passport_number">
                                            <div *ngIf="passport_number.hasError(validation.type)">
                                              {{validation.message}}
                                            </div>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2" *ngIf="(nric_number.valid || passport_number.valid) && tranNumberData.length > 0">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>{{'REFUND-PROCESS.LIST.TRANSACTION-NUMBER' | translate}}</mat-label>
                                        <input type="text" matInput [formControl]="enrollment_no" 
                                        [matAutocomplete]="autoTran"
                                        #enrolltrigger="matAutocompleteTrigger">
                                        <div matSuffix style="display:flex">
                                            <button  
                                              (click)="clearInput($event,enrollment_no,'enrollment_no')"
                                              *ngIf=" enrollment_no?.value!==null && enrollment_no?.value!==''"
                                              aria-label="Clear"
                                              mat-icon-button
                                              type="button"
                                            >
                                              <mat-icon>clear</mat-icon>
                                            </button>
                                            <button
                                              (click)="openOrClosePanel($event,enrolltrigger)"
                                              aria-label="Clear"
                                              mat-icon-button
                                              type="button"
                                            >
                                              <mat-icon>{{arrowIconSubject.getValue()}}</mat-icon>
                                            </button>
                                        </div>
                                        <mat-autocomplete #autoTran="matAutocomplete" 
                                        [displayWith]="displayFnTransactionNumber" 
                                        (optionSelected)="getLicenseListPerEnroll($event);arrowIconSubject.next('arrow_drop_down')"
                                        (closed)="arrowIconSubject.next('arrow_drop_down')"
                                        (opened)="arrowIconSubject.next('arrow_drop_up')">
                                        <mat-option *ngFor="let option of tranNumberList | async" [value]="option">
                                            {{option.enrollment_no}}
                                        </mat-option>
                                        </mat-autocomplete>
                                        <mat-error *ngFor="let validation of validation_msgs.enrollment_no">
                                            <div *ngIf="enrollment_no.hasError(validation.type)">
                                              {{validation.message}}
                                            </div>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2" *ngIf="(nric_number.valid || passport_number.valid) && enrollment_no.valid && licenseTypeData.length > 0" >
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>{{'SCHEDULE.LICENSE-CLASS' | translate}}</mat-label>
                                        <input type="text" matInput [formControl]="license_type" 
                                        [matAutocomplete]="autoTran" #licensetrigger="matAutocompleteTrigger">
                                        <div matSuffix style="display:flex">
                                            <button  
                                              (click)="clearInput($event,license_type,'license_type')"
                                              *ngIf=" license_type?.value!==null && license_type?.value!==''"
                                              aria-label="Clear"
                                              mat-icon-button
                                              type="button"
                                            >
                                              <mat-icon>clear</mat-icon>
                                            </button>
                                            <button
                                              (click)="openOrClosePanel($event,licensetrigger)"
                                              aria-label="Clear"
                                              mat-icon-button
                                              type="button"
                                            >
                                              <mat-icon>{{arrowIconSubject.getValue()}}</mat-icon>
                                            </button>
                                        </div>
                                        <mat-autocomplete #autoTran="matAutocomplete" 
                                        [displayWith]="displayFnLicenseClass" 
                                        (optionSelected)="getRefundDetails();arrowIconSubject.next('arrow_drop_down')"
                                        (closed)="arrowIconSubject.next('arrow_drop_down')"
                                        (opened)="arrowIconSubject.next('arrow_drop_up')">
                                        <mat-option *ngFor="let option of licenseTypeList | async" [value]="option">
                                            {{option.license_class}}
                                        </mat-option>
                                        </mat-autocomplete>
                                        <mat-error *ngFor="let validation of validation_msgs.enrollment_no">
                                            <div *ngIf="enrollment_no.hasError(validation.type)">
                                              {{validation.message}}
                                            </div>
                                        </mat-error>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2" style="float: right;" *ngIf="license_type.valid && enrollment_no.valid && (nric_number.valid || passport_number.valid)">
                                        <button mat-raised-button (click)="showStudent(viewStudent)"  color="primary">{{'BUTTON.VIEW-STUDENT' | translate}}</button>
                                    </div>
                            </div>
                            
                        </form>
                        
                        <div class="row" *ngIf="refundStatus">
                            <div class="col-md-12">
                                  <div class="mt-5">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <div class="card">
                                        <div class="body">
                                          <div class="table-responsive">
                                            <ngx-datatable #table class="material" [rows]="data" [columns]="columns" [sortType]="'multi'"
                                            [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'60'" [limit]="10">
                                            <!-- user image -->
                                            <ngx-datatable-column [flexGrow]="3" name="{{'REFUND-PROCESS.LIST.STUDENT-NAME' | translate}}" prop="name" [width]="130"></ngx-datatable-column>
                                            <ngx-datatable-column [flexGrow]="3" name="{{'REFUND-PROCESS.LIST.TRAN-NO' | translate}}" prop="enrollment_no" [width]="130"></ngx-datatable-column>
                                            <!-- <ngx-datatable-column [flexGrow]="3" name="{{'REFUND-PROCESS.LIST.PACKAGE' | translate}}" prop="package_english" [width]="200"></ngx-datatable-column> -->
                                            <!-- <ngx-datatable-column [flexGrow]="2" name="{{'REFUND-PROCESS.LIST.PACKAGE-TYPE' | translate}}" prop="english" [width]="200"></ngx-datatable-column> -->
                                            <ngx-datatable-column [flexGrow]="2" name="{{'REFUND-PROCESS.LIST.LICENSE' | translate}}" prop="license_class" [width]="200"></ngx-datatable-column>
                                            <ngx-datatable-column [flexGrow]="2" name="{{'REFUND-PROCESS.LIST.LICENSE-AMOUNT' | translate}}" prop="final_price" [width]="200"></ngx-datatable-column>
                                            <ngx-datatable-column [flexGrow]="2" name="{{'REFUND-PROCESS.LIST.PAYMENT-STATUS' | translate}}" prop="payment_level" [width]="200"></ngx-datatable-column>
                                            <ngx-datatable-column [flexGrow]="2" name="{{'REFUND-PROCESS.LIST.AMOUNT-PAID' | translate}}" prop="amountPaid" [width]="200"></ngx-datatable-column>
                                            <!-- <ngx-datatable-column name="{{'REFUND-PROCESS.LIST.STATUS' | translate}}" prop="status" [width]="200"></ngx-datatable-column>
                                            <ngx-datatable-column name="{{'REFUND-PROCESS.LIST.REFUND-AMOUNT' | translate}}" prop="refund_amount" [width]="200"></ngx-datatable-column> -->

                                        </ngx-datatable>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                          </div>
                          <div class="row" *ngIf="refundStatus">
                            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2"></div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                    <mat-label>{{'REFUND-PROCESS.LIST.STATUS' | translate}}</mat-label>
                                    <input type="text" matInput [(ngModel)]="refundStatus" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                    <mat-label>{{'REFUND-PROCESS.LIST.REFUND-AMOUNT' | translate}}</mat-label>
                                    <input type="text" matInput [(ngModel)]="refundAmount" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2"></div>
                        </div>
                        <div class="row" *ngIf="refundStatus">
                            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2"></div>
                            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width mb-3" appearance="outline">
                                <mat-label>{{'REFUND-PROCESS.LIST.REMARKS' | translate}}</mat-label>
                                <textarea matInput [formControl]="remarks" required>
                                </textarea>
                            </mat-form-field>
                        </div>
                            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2"></div>
                        </div>
                        <div class="row" *ngIf="refundAmount>0" style="text-align: center;">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <button mat-raised-button  color="primary" (click)="setRefundConfirmation()">{{'BUTTON.CONFIRM-BTN' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-template #viewStudent let-modal>
    <div class="modal-header deleteRowModal">
    <h4 class="modal-title" id="modal-basic-title"> <div class="modal-header ">
        <div class="modal-about">
            <div class="font-weight-bold p-t-10 font-17">
                {{'PENDING-REPORT.SUBTITLE' | translate}}</div>
        </div>
        </div>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true"><i class="material-icons">close</i></span>
    </button>
    </div>
    <div class="modal-body">
        <h5 style="text-align:center">{{'PENDING-REPORT.SUBTITLE1' | translate}}</h5>
            <ul class="clearfix">
                <li>
                    <p><span class="font-weight-bold"> <b>{{'STUDENT-REGISTRATION.LIST.NAME' | translate}}:  </b></span><span>{{studentInfo.name}}</span></p>
                </li>
                <li>
                    <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.NRIC' | translate}}: </b></span><span>{{studentInfo.nric_number}}</span></p>
                </li>
                <li *ngIf="studentInfo.passport_number">
                    <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.PASSPORT' | translate}}: </b></span><span>{{studentInfo.passport_number}}</span></p>
                </li>
                <li>
                    <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.DOB' | translate}}: </b></span><span>{{studentInfo.date_of_birth | date:'dd/MM/yyyy'}}</span></p>
                </li>
                <li>
                    <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.GENDER' | translate}}: </b></span><span>{{studentInfo.gender}}</span></p>
                </li>
                <li>
                    <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.IC-ADDRESS' | translate}}: </b></span><span>{{studentInfo.address_nric}}</span></p>
                </li>
                <li>
                    <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.CITY' | translate}}: </b></span><span>{{studentInfo.city}}</span></p>
                </li>
                <li>
                    <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.STATE' | translate}}: </b></span><span>{{studentInfo.state}}</span></p>
                </li>
                <li>
                    <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.EMAIL' | translate}}: </b></span><span>{{studentInfo.email_id}}</span></p>
                </li>
                <li>
                    <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.MOBILENO' | translate}}: </b></span><span>{{studentInfo.mobile_number}}</span></p>
                </li>
            </ul>
            <h5 style="text-align:center">{{'PENDING-REPORT.SUBTITLE2' | translate}}</h5>
            <ul class="clearfix">
                <li>
                    <p><span class="font-weight-bold"> <b>{{'PENDING-REPORT.LIST.LICENSE-CLASS' | translate}}:  </b></span><span [innerHTML]="LicenseData"></span></p>
                </li>
                <li>
                    <p><span class="font-weight-bold"><b>{{'PENDING-REPORT.LIST.PACKAGE-NAME' | translate}}: </b></span><span>{{packInfo.package_name}}</span></p>
                </li>
                <li>
                  <p><span class="font-weight-bold"><b>{{'PENDING-REPORT.LIST.PACKAGE-DESCRIPTION' | translate}}: </b></span><span [innerHTML]="packInfo.package_description"></span></p>
                </li>
                <!-- <li>
                    <p><span class="font-weight-bold"><b>{{'PENDING-REPORT.LIST.PACKAGE-TYPE' | translate}}: </b></span><span>{{licenseinfo[0].package_type}}</span></p>
                </li> -->
                <li>
                    <p><span class="font-weight-bold"><b>{{'PENDING-REPORT.LIST.PACKAGE-OFFERS' | translate}}: </b></span><span>{{packInfo.package_offers}}</span></p>
                </li>
                <!-- <li>
                    <p><span class="font-weight-bold"><b>{{'PENDING-REPORT.LIST.PAYMENT-PHASE' | translate}}: </b></span><span>{{licenseInfo.payment_phase}}</span></p>
                </li>
                <li>
                    <p><span class="font-weight-bold"><b>{{'PENDING-REPORT.LIST.AMOUNT' | translate}}: </b></span><span>{{licenseInfo.final_package_price}}</span></p>
                </li>
                <li>
                    <p><span class="font-weight-bold"><b>{{'PENDING-REPORT.LIST.FIRST-PHASE' | translate}}: </b></span><span>{{licenseInfo.first_phase_amount}}</span></p>
                </li>
                <li>
                    <p><span class="font-weight-bold"><b>{{'PENDING-REPORT.LIST.SECOND-PHASE' | translate}}: </b></span><span>{{licenseInfo.second_phase_amount}}</span></p>
                </li>
                <li>
                    <p><span class="font-weight-bold"><b>{{'PENDING-REPORT.LIST.THIRD-PHASE' | translate}}: </b></span><span>{{licenseInfo.third_phase_amount}}</span></p>
                </li> -->
               
            </ul>
              
            </div>
        <div class="modal-footer">
        <div class="button-demo">
            <button mat-button type="button" (click)="modal.close()">{{'BUTTON.CLOSE-BTN' | translate}}</button>
        </div>
        </div>
</ng-template>