<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <ul class="breadcrumb breadcrumb-style ">
                            <li class="breadcrumb-item">
                                <h4 class="page-title">{{'STUDENT-REGISTRATION.TITLE' | translate}}</h4>
                            </li>
                            <!-- <li class="breadcrumb-item bcrumb-1">
                                <a routerLink="/admin/dashboard/main">
                                    <i class="fas fa-home"></i> Home</a>
                            </li>
                            <li class="breadcrumb-item bcrumb-2">
                                <a href="#" onClick="return false;">Students</a>
                            </li>
                            <li class="breadcrumb-item active">Registration</li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                            <strong>{{'STUDENT-REGISTRATION.TITLE' | translate}}</strong>
                            </h2>
                        </div>
                        <div class="body">
                            <mat-horizontal-stepper [linear]="isLinear" #stepper>
                            <mat-step [stepControl]="personalDetailsEditForm">
                                <form [formGroup]="personalDetailsEditForm">
                                <ng-template matStepLabel>{{'STUDENT-REGISTRATION.SUBTITLE1' | translate}}</ng-template>
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.NAME' | translate}}*</mat-label>
                                            <input matInput formControlName="name">
                                            <mat-icon matSuffix>face</mat-icon>
                                            <mat-error *ngIf="personalDetailsEditForm.get('name').hasError('required')">
                                                {{'REG-VALIDATION.Name' | translate}} 
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.IC-TYPE' | translate}}</mat-label>
                                            <input type="text" matInput [formControl]="nricType" [matAutocomplete]="autoIc">
                                            <mat-autocomplete #autoIc="matAutocomplete" [displayWith]="displayFn" (optionSelected)="getICTypeChange()">
                                            <mat-option *ngFor="let option of nricTypeList | async" [value]="option">
                                                {{option[translateVal]}}
                                            </mat-option>
                                            </mat-autocomplete>
                                            <mat-error  *ngIf="nricType.hasError('required')">
                                                {{'REG-VALIDATION.NricType' | translate}} 
                                            </mat-error>
                                          </mat-form-field>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.NRIC' | translate}}</mat-label>
                                            <input matInput formControlName="nric_number" mask="000000-00-0000" [showMaskTyped]="true" (blur)="getNRICNumberChange()">
                                            <mat-icon matSuffix>confirmation_number</mat-icon>
                                            <mat-error *ngIf="personalDetailsEditForm.get('nric_number').hasError('required')">
                                                {{'REG-VALIDATION.NricNum' | translate}}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.PASSPORT' | translate}}</mat-label>
                                            <input matInput formControlName="passport_number" [readonly]="personalDetailsEditForm.get('nric_number').value != ''" [required]="personalDetailsEditForm.get('nric_number').value == ''" (blur)="getPassportNumberChange()">
                                            <mat-icon matSuffix>confirmation_number</mat-icon>
                                            <mat-error *ngIf="personalDetailsEditForm.get('passport_number').hasError('required')">
                                                {{'REG-VALIDATION.PassportNum' | translate}}   
                                        </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.DOB' | translate}}*</mat-label>
                                            <input matInput [matDatepicker]="picker" formControlName="date_of_birth">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                            <mat-error *ngIf="personalDetailsEditForm.get('date_of_birth').hasError('required')">
                                                {{'REG-VALIDATION.Dob' | translate}} 
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.GENDER' | translate}}*</mat-label>
                                            <mat-select formControlName="gender">
                                                <mat-option value="Male">Male</mat-option>
                                                <mat-option value="Female">Female</mat-option>
                                                <mat-option value="Others">Others</mat-option>
                                              </mat-select>
                                              <mat-error *ngIf="personalDetailsEditForm.get('gender').hasError('required')">
                                                {{'REG-VALIDATION.Gender' | translate}} 
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>{{'STUDENT-REGISTRATION.LIST.PLACEBIRTH' | translate}}*</mat-label>
                                                    <input type="text" matInput [formControl]="placeBirth" [matAutocomplete]="autoPlaceBirth">
                                                    <mat-autocomplete #autoPlaceBirth="matAutocomplete" [displayWith]="displayFnPlaceBirth">
                                                    <mat-option *ngFor="let option of placeBirthList | async" [value]="option">
                                                        {{option[translateVal]}}
                                                    </mat-option>
                                                    </mat-autocomplete>
                                                    <mat-error *ngIf="placeBirth.hasError('required')">
                                                        {{'REG-VALIDATION.POB' | translate}} 
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2" *ngIf="placeBirth.value.id == 457">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>{{'STUDENT-REGISTRATION.LIST.OTHER' | translate}}</mat-label>
                                                    <input matInput formControlName="other_placebirth" >
                                                   
                                                </mat-form-field>
                                            </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.NATIONALITY' | translate}}*</mat-label>
                                            <input type="text" matInput [formControl]="nationality" [matAutocomplete]="autoNation">
                                            <mat-autocomplete #autoNation="matAutocomplete" [displayWith]="displayFnNationality">
                                            <mat-option *ngFor="let option of nationalityList | async" [value]="option">
                                                {{option.country_name}}
                                            </mat-option>
                                            </mat-autocomplete>
                                            <mat-error *ngIf="nationality.hasError('required')">
                                                {{'REG-VALIDATION.Nationality' | translate}} 
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.IC-ADDRESS' | translate}}*</mat-label>
                                            <input matInput formControlName="ic_address">
                                            <mat-error *ngIf="personalDetailsEditForm.get('ic_address').hasError('required')">
                                                {{'REG-VALIDATION.NricAdd' | translate}} 
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                               
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.ADDRESS1' | translate}}</mat-label>
                                            <input matInput formControlName="address1">
                                            
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.ADDRESS2' | translate}}</mat-label>
                                            <input matInput formControlName="address2">
                                            
                                        </mat-form-field>
                                        </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.POSTAL-CODE' | translate}}*</mat-label>
                                            <input type="text" matInput [formControl]="postalCode" [matAutocomplete]="autoPostalCode">
                                            <mat-autocomplete #autoPostalCode="matAutocomplete" [displayWith]="displayFnPostalCode"  (optionSelected)="getPostalCodeChange()">
                                            <mat-option *ngFor="let option of postalCodeList | async" [value]="option">
                                                {{option.postal_code}}
                                            </mat-option>
                                            </mat-autocomplete>
                                            <mat-error *ngIf="postalCode.hasError('required')">
                                                {{'REG-VALIDATION.PostalCode' | translate}} 
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                               
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.CITY' | translate}}*</mat-label>
                                            <input matInput formControlName="city">
                                            <mat-icon matSuffix>location_city</mat-icon>
                                            <mat-error *ngIf="personalDetailsEditForm.get('city').hasError('required')">
                                                {{'REG-VALIDATION.City' | translate}}  
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.STATE' | translate}}*</mat-label>
                                            <input matInput formControlName="state">
                                            <mat-icon matSuffix>business</mat-icon>
                                            <mat-error *ngIf="personalDetailsEditForm.get('state').hasError('required')">
                                                {{'REG-VALIDATION.State' | translate}}  
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.EMAIL' | translate}}*</mat-label>
                                            <input matInput formControlName="email_address">
                                            <mat-icon matSuffix>email</mat-icon>
                                            <mat-error *ngIf="personalDetailsEditForm.get('email_address').hasError('email') && personalDetailsEditForm.get('email_address').touched">
                                                {{'REG-VALIDATION.Email' | translate}} 
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.MOBILENO' | translate}}*</mat-label>
                                            <input matInput formControlName="mobile_number" type='tel' pattern="[0-9]*" prefix='+6 ' maxlength="13" mask="0000000000000" >
                                            <mat-icon matSuffix>phone</mat-icon>
                                            <mat-error *ngIf="personalDetailsEditForm.get('mobile_number').hasError('required')">
                                                {{'REG-VALIDATION.Mob' | translate}} 
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.RACE' | translate}}*</mat-label>
                                            <!-- <input matInput formControlName="race" required> -->
                                            <!-- <mat-icon matSuffix>face</mat-icon> -->
                                                <input type="text" matInput [formControl]="race" [matAutocomplete]="autoRace">
                                                <mat-autocomplete #autoRace="matAutocomplete" [displayWith]="displayFnRace" (optionSelected)="onSelectionChange($event)">
                                                <mat-option *ngFor="let raceoption of raceList | async" [value]="raceoption">
                                                    {{raceoption[translateVal]}}
                                                </mat-option>
                                                </mat-autocomplete>
                                                <mat-error *ngIf="race.hasError('required')">
                                                    {{'REG-VALIDATION.Race' | translate}} 
                                                </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2" *ngIf="race.value.id == 4">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.OTHERRACE' | translate}}</mat-label>
                                            <input matInput formControlName="other_race">
                                           
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <button mat-raised-button matStepperNext color="primary"
                                     [disabled]="!personalDetailsEditForm.valid || !race.valid || !nricType.valid || !nationality.valid || !postalCode.valid  || !placeBirth.valid">{{'BUTTON.NEXT-BTN' | translate}}</button>
                                </div>
                                </form>
                            </mat-step>
                            <mat-step>
                                <form [formGroup]="preferenceEditForm">
                                <ng-template matStepLabel>{{'STUDENT-REGISTRATION.SUBTITLE2' | translate}}</ng-template>
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.PREFERENCE' | translate}}*</mat-label>
                                            <input type="text" matInput [formControl]="preference" [matAutocomplete]="autoPreference">
                                            <mat-autocomplete #autoPreference="matAutocomplete" [displayWith]="displayFnPreference">
                                            <mat-option *ngFor="let raceoption of preferenceList | async" [value]="raceoption">
                                                {{raceoption[translateVal]}}
                                            </mat-option>
                                            </mat-autocomplete>
                                            <mat-error *ngIf="preference.hasError('required')">
                                                {{'REG-VALIDATION.PrefLAng' | translate}} 
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.EMERGENCY-NAME' | translate}}</mat-label>
                                            <input matInput formControlName="emergency_name">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.EMERGENCY-NUMBER' | translate}}</mat-label>
                                            <input matInput formControlName="emergency_number">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.EXISTING-LICENSE' | translate}}</mat-label>
                                                <input type="text" matInput [formControl]="existing_license" [matAutocomplete]="autoLicense">
                                                <mat-autocomplete #autoLicense="matAutocomplete" [displayWith]="displayFnExistingLicense">
                                                <mat-option *ngFor="let raceoption of existingLicenseList | async" [value]="raceoption">
                                                    {{raceoption[translateVal]}}
                                                </mat-option>
                                                </mat-autocomplete>
                                                <mat-error *ngFor="let validation of validation_msgs.existing_license">
                                                    <div *ngIf="existing_license.hasError('required')">
                                                      {{validation.message}}
                                                    </div>
                                                </mat-error>
                                        </mat-form-field>
                                    </div> -->
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.USERNAME' | translate}}</mat-label>
                                            <input matInput formControlName="user_name" required>
                                            <mat-error *ngIf="preferenceEditForm.get('user_name').hasError('required')">
                                                {{'REG-VALIDATION.UserName' | translate}} 
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.PASSWORD' | translate}}</mat-label>
                                            <input matInput formControlName="password"
                                                [type]="hide ? 'password' : 'text'" required>
                                                <a
                                                class="show-pwd-icon"
                                                href="#"
                                                onClick="return false;"
                                                matSuffix
                                                (click)="hide = !hide"
                                                [attr.aria-label]="'Hide password'"
                                                [attr.aria-pressed]="hide"
                                            ><mat-icon>{{
                                                    hide ? "visibility_off" : "visibility"
                                              }}</mat-icon></a>
                                              <mat-hint>{{'STUDENT-REGISTRATION.LIST.HINT'|translate}}</mat-hint>
                                            <mat-error *ngIf="preferenceEditForm.get('password').hasError('required')">
                                                {{'REG-VALIDATION.Passwoord' | translate}} 
                                            </mat-error>
                                            <mat-error *ngIf="preferenceEditForm.get('password').hasError('invalid')">
                                                {{'REG-VALIDATION.Passwoord' | translate}} 
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <!-- <div class="row" *ngIf="existing_license.valid">
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>{{'STUDENT-REGISTRATION.LIST.EXPIRYDATE' | translate}}</mat-label>
                                            <input matInput [matDatepicker]="picker1" formControlName="expiry_date" [required]="existing_license.valid">
                                            <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                            <mat-error *ngIf="preferenceEditForm.get('expiry_date').hasError('required')">
                                                    {{'STUDENT-REGISTRATION.LIST.EXPIRYDATE' | translate}}  
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div> -->
                                <div>
                                    <button mat-raised-button matStepperPrevious color="warn" class="msr-2">{{'BUTTON.BACK-BTN' | translate}}</button>
                                    <button mat-raised-button  color="primary"
                                    [disabled]="!preferenceEditForm.valid || !preference.valid" (click)="getPreferenceDetails(stepper)">{{'BUTTON.NEXT-BTN' | translate}}</button>
                                </div>
                                </form>
                            </mat-step>
                            <mat-step [stepControl]="documentEditForm">
                                <form [formGroup]="documentEditForm">
                                <ng-template matStepLabel>{{'STUDENT-REGISTRATION.SUBTITLE3' | translate}}</ng-template>
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                      <div class="row">
                                            <div class="col-6">
                                                <img src="{{photo_preview ? photo_preview :apiURL+'/'+ documentEditForm.value.photo_name}}" *ngIf="documentEditForm.value.photo_name" style="width:100%;height:100%">
                                            </div>
                                            <div [ngClass]="{
                                                'col-6': documentEditForm.value.photo_name,
                                                'col-12': !documentEditForm.value.photo_name
                                            }">
                                                <mat-form-field class="example-full-width">
                                                    <ngx-mat-file-input formControlName="photo" placeholder="{{'STUDENT-REGISTRATION.LIST.PHOTO' | translate}}" (change)="onFileChangePhoto($event,'photo')">
                                                    </ngx-mat-file-input>
                                                    <mat-icon matSuffix>cloud_upload</mat-icon>
                                                    <mat-error *ngIf="documentEditForm.get('photo').hasError('required')">
                                                            {{'STUDENT-REGISTRATION.LIST.PHOTO' | translate}}  
                                                    </mat-error>
                                                    <mat-error *ngIf="documentEditForm.get('photo').hasError('maxContentSize')">
                                                        The total size must not exceed 200kb
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                       </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <div class="row">
                                            <div class="col-6">
                                                <img src="{{nric_front_preview ? nric_front_preview : apiURL+'/'+documentEditForm.value.nric_front_name}}" *ngIf="documentEditForm.value.nric_front_name" style="width:100%;height:100%">
                                            </div>
                                            <div [ngClass]="{
                                                'col-6': documentEditForm.value.nric_front_name,
                                                'col-12': !documentEditForm.value.nric_front_name
                                            }">
                                                <mat-form-field class="example-full-width">
                                                    <ngx-mat-file-input formControlName="nric_front" placeholder="{{'STUDENT-REGISTRATION.LIST.NRIC-FRONT' | translate}}" (change)="onFileChangePhoto($event,'nric_front')">
                                                    </ngx-mat-file-input>
                                                    <mat-icon matSuffix>cloud_upload</mat-icon>
                                                    <mat-error *ngIf="documentEditForm.get('nric_front').hasError('required')">
                                                            {{'STUDENT-REGISTRATION.LIST.NRIC-FRONT' | translate}}  
                                                    </mat-error>
                                                    <mat-error *ngIf="documentEditForm.get('nric_front').hasError('maxContentSize')">
                                                        The total size must not exceed 200kb
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <div class="row">
                                            <div class="col-6">
                                                <img src="{{nric_rear_preview ? nric_rear_preview : apiURL+'/'+documentEditForm.value.nric_rear_name}}" *ngIf="documentEditForm.value.nric_rear_name" style="width:100%;height:100%">
                                            </div>
                                            <div [ngClass]="{
                                                'col-6': documentEditForm.value.nric_rear_name,
                                                'col-12': !documentEditForm.value.nric_rear_name
                                            }">
                                                <mat-form-field class="example-full-width">
                                                    <ngx-mat-file-input formControlName="nric_rear" placeholder="{{'STUDENT-REGISTRATION.LIST.NRIC-REAR' | translate}}" (change)="onFileChangePhoto($event,'nric_rear')" >
                                                    </ngx-mat-file-input>
                                                    <mat-icon matSuffix>cloud_upload</mat-icon>
                                                    <mat-error *ngIf="documentEditForm.get('nric_rear').hasError('required')">
                                                            {{'STUDENT-REGISTRATION.LIST.NRIC-REAR' | translate}}  
                                                    </mat-error>
                                                    <mat-error *ngIf="documentEditForm.get('nric_rear').hasError('maxContentSize')">
                                                        The total size must not exceed 200kb
                                                    </mat-error>
                                                </mat-form-field>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row"><br/></div>
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <div class="row">
                                            <div class="col-6">
                                                <img src="{{passport_front_preview ? passport_front_preview  :apiURL+'/'+documentEditForm.value.passport_front_name}}" *ngIf="documentEditForm.value.passport_front_name" style="width:100%;height:100%">
                                            </div>
                                            <div [ngClass]="{
                                                'col-6': documentEditForm.value.passport_front_name,
                                                'col-12': !documentEditForm.value.passport_front_name
                                            }">
                                            <mat-form-field class="example-full-width">
                                                <ngx-mat-file-input formControlName="passport_front"  placeholder="{{'STUDENT-REGISTRATION.LIST.PASSPORT-FRONT' | translate}}" (change)="onFileChangePhoto($event,'passport_front')" >
                                                </ngx-mat-file-input>
                                                <mat-icon matSuffix>cloud_upload</mat-icon>
                                                <mat-error *ngIf="documentEditForm.get('passport_front').hasError('required')">
                                                        {{'STUDENT-REGISTRATION.LIST.PASSPORT-FRONT' | translate}}  
                                                </mat-error>
                                                <mat-error *ngIf="documentEditForm.get('passport_front').hasError('maxContentSize')">
                                                    The total size must not exceed 200kb
                                                </mat-error>
                                            </mat-form-field>
                                             </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <div class="row">
                                            <div class="col-6" *ngIf="documentEditForm.value.work_permit_name">
                                                <img src="{{work_permit_preview ? work_permit_preview : apiURL+'/'+documentEditForm.value.work_permit_name}}"  style="width:100%;height:100%">
                                            </div>
                                            <div [ngClass]="{
                                                'col-6': documentEditForm.value.work_permit_name,
                                                'col-12': !documentEditForm.value.work_permit_name
                                            }">
                                                <mat-form-field class="example-full-width">
                                                    <ngx-mat-file-input formControlName="work_permit"  placeholder="{{'STUDENT-REGISTRATION.LIST.WORK-PERMIT' | translate}}" (change)="onFileChangePhoto($event,'work_permit')">
                                                    </ngx-mat-file-input>
                                                    <mat-icon matSuffix>cloud_upload</mat-icon>
                                                    <mat-error *ngIf="documentEditForm.get('work_permit').hasError('required')">
                                                            {{'STUDENT-REGISTRATION.LIST.WORK-PERMIT' | translate}}  
                                                    </mat-error>
                                                    <mat-error *ngIf="documentEditForm.get('work_permit').hasError('maxContentSize')">
                                                        The total size must not exceed 200kb
                                                    </mat-error>
                                                </mat-form-field>
                                              </div>
                                            </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-checkbox class="example-margin" formControlName="isActive">Active</mat-checkbox>     

                                        <!-- <div class="row">
                                            <div class="col-6" *ngIf="documentEditForm.value.existing_license_front">
                                                <img src="{{documentEditForm.value.existing_license_front}}"  style="width:100%;height:100%">
                                            </div>
                                            <div [ngClass]="{
                                                'col-6': documentEditForm.value.existing_license_front,
                                                'col-12': !documentEditForm.value.existing_license_front
                                            }">
                                            <mat-form-field class="example-full-width">
                                                <ngx-mat-file-input formControlName="existing_license_front_name"  placeholder="{{'STUDENT-REGISTRATION.LIST.EXISTING-LICENSE-FRONT' | translate}}" (change)="onFileChangePhoto($event,'existing_license_front')" [required]="existing_license.valid">
                                                </ngx-mat-file-input>
                                                <mat-icon matSuffix>cloud_upload</mat-icon>
                                                <mat-error *ngIf="documentEditForm.get('existing_license_front').hasError('required')">
                                                        {{'STUDENT-REGISTRATION.LIST.EXISTING-LICENSE-FRONT' | translate}}  
                                                </mat-error>
                                            </mat-form-field>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="row"><br/></div>
                                <!-- <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <div class="row">
                                            <div class="col-6" *ngIf="documentEditForm.value.existing_license_rear">
                                                <img src="{{documentEditForm.value.existing_license_rear}}"  style="width:100%;height:100%">
                                            </div>
                                            <div [ngClass]="{
                                                'col-6': documentEditForm.value.existing_license_rear,
                                                'col-12': !documentEditForm.value.existing_license_rear
                                            }">
                                                <mat-form-field class="example-full-width">
                                                    <ngx-mat-file-input formControlName="existing_license_rear_name" placeholder="{{'STUDENT-REGISTRATION.LIST.EXISTING-LICENSE-REAR' | translate}}" (change)="onFileChangePhoto($event,'existing_license_rear')" [required]="existing_license.valid">
                                                    </ngx-mat-file-input>
                                                    <mat-icon matSuffix>cloud_upload</mat-icon>
                                                    <mat-error *ngIf="documentEditForm.get('existing_license_rear').hasError('required')">
                                                            {{'STUDENT-REGISTRATION.LIST.EXISTING-LICENSE-REAR' | translate}}  
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div><br/> -->
                                <div>
                                <button mat-raised-button matStepperPrevious color="warn" class="msr-2">{{'BUTTON.BACK-BTN' | translate}}</button>
                                <button mat-raised-button color="primary" (click)="saveStudentData(showStudent)" [disabled]="!documentEditForm.valid">{{'BUTTON.EDIT-BTN' | translate}}</button>
                                </div>
                            </form>
                            </mat-step>
                            </mat-horizontal-stepper>
                        </div>
                            <!-- <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <button class="btn-space" [disabled]="!stdForm.valid " mat-raised-button
                                        color="primary">Submit</button>
                                    <button type="button" mat-button>Cancel</button>
                                </div>
                            </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <ng-template #showStudent let-modal>
            <div class="modal-header deleteRowModal">
            <h4 class="modal-title" id="modal-basic-title"> <div class="modal-header ">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-10 font-17">
                        {{'STUDENT-REGISTRATION.CONFIRMTITLE' | translate}}</div>
                </div>
                </div>
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true"><i class="material-icons">close</i></span>
            </button>
            </div>
            <div class="modal-body">
                <h5 style="text-align:center">{{'STUDENT-REGISTRATION.SUBTITLE1' | translate}}</h5>
                    <ul class="clearfix">
                        <li>
                            <p><span class="font-weight-bold"> <b>{{'STUDENT-REGISTRATION.LIST.NAME' | translate}}:  </b></span><span>{{personalDetailsEditForm.value.name}}</span></p>
                        </li>
                        <li>
                            <p><span class="font-weight-bold"><b> {{'STUDENT-REGISTRATION.LIST.IC-TYPE' | translate}}: </b></span><span>{{nricType.value[translateVal]}}</span></p>
                        </li>
                        <li>
                            <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.NRIC' | translate}}: </b></span><span>{{personalDetailsEditForm.value.nric_number}}</span></p>
                        </li>
                        <li *ngIf="personalDetailsEditForm.value.passport_number">
                            <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.PASSPORT' | translate}}: </b></span><span>{{personalDetailsEditForm.value.passport_number}}</span></p>
                        </li>
                        <li>
                            <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.DOB' | translate}}: </b></span><span>{{personalDetailsEditForm.value.date_of_birth | date:'dd/MM/yyyy'}}</span></p>
                        </li>
                        <li>
                            <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.GENDER' | translate}}: </b></span><span>{{personalDetailsEditForm.value.gender}}</span></p>
                        </li>
                        <li>
                            <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.PLACEBIRTH' | translate}}: </b></span><span>{{placeBirth.value[translateVal]}}</span></p>
                        </li>
                        <li  *ngIf="personalDetailsEditForm.value.other_placebirth">
                            <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.OTHER' | translate}}: </b></span><span>{{personalDetailsEditForm.value.other_placebirth}}</span></p>
                        </li>
                        <li>
                            <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.NATIONALITY' | translate}}: </b></span><span>{{nationality.value.country_name}}</span></p>
                        </li>
                        <li>
                            <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.IC-ADDRESS' | translate}}: </b></span><span>{{personalDetailsEditForm.value.ic_address}}</span></p>
                        </li>
                        <li *ngIf="personalDetailsEditForm.value.address1">
                            <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.ADDRESS1' | translate}}: </b></span><span>{{personalDetailsEditForm.value.address1}}</span></p>
                        </li>
                        <li *ngIf="personalDetailsEditForm.value.address2">
                            <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.ADDRESS2' | translate}}: </b></span><span>{{personalDetailsEditForm.value.address2}}</span></p>
                        </li>
                        <li>
                            <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.POSTAL-CODE' | translate}}: </b></span><span>{{postalCode.value.postal_code}}</span></p>
                        </li>
                        <li>
                            <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.CITY' | translate}}: </b></span><span>{{personalDetailsEditForm.value.city}}</span></p>
                        </li>
                        <li>
                            <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.STATE' | translate}}: </b></span><span>{{personalDetailsEditForm.value.state}}</span></p>
                        </li>
                        <li>
                            <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.EMAIL' | translate}}: </b></span><span>{{personalDetailsEditForm.value.email_address}}</span></p>
                        </li>
                        <li>
                            <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.MOBILENO' | translate}}: </b></span><span>{{personalDetailsEditForm.value.mobile_number}}</span></p>
                        </li>
                        <li>
                            <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.RACE' | translate}}: </b></span> <span>{{race.value[translateVal]}}</span></p>
                        </li>
                        <li  *ngIf="personalDetailsEditForm.value.other_race">
                            <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.OTHERRACE' | translate}}: </b></span><span>{{personalDetailsEditForm.value.other_race}}</span></p>
                        </li>
                    </ul>
                    <h5 style="text-align:center">{{'STUDENT-REGISTRATION.SUBTITLE2' | translate}}</h5>
                        <ul class="clearfix">
                            <li *ngIf="preference.value[translateVal]">
                                <p><span class="font-weight-bold"><b> {{'STUDENT-REGISTRATION.LIST.PREFERENCE' | translate}}: </b></span><span>{{preference.value[translateVal]}}</span></p>
                            </li>
                            <li *ngIf="preferenceEditForm.value.emergency_name">
                                <p><span class="font-weight-bold"><b> {{'STUDENT-REGISTRATION.LIST.EMERGENCY-NAME' | translate}}: </b></span><span>{{preferenceEditForm.value.emergency_name}}</span></p>
                            </li>
                            <li *ngIf="preferenceEditForm.value.emergency_number">
                                <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.EMERGENCY-NUMBER' | translate}}: </b></span><span>{{preferenceEditForm.value.emergency_number}}</span></p>
                            </li>
                            <li *ngIf="preferenceEditForm.value.user_name">
                                <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.USERNAME' | translate}}: </b></span><span>{{preferenceEditForm.value.user_name}}</span></p>
                            </li>
                            <li *ngIf="preferenceEditForm.value.password">
                                <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.PASSWORD' | translate}}: </b></span><span>{{preferenceEditForm.value.password}}</span></p>
                            </li>
                            <!-- <li *ngIf="existing_license.value[translateVal]">
                                <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.EXISTING-LICENSE' | translate}}: </b></span><span>{{existing_license.value[translateVal]}}</span></p>
                            </li> -->
                            <!-- <li *ngIf="preferenceEditForm.value.expiry_date">
                                <p><span class="font-weight-bold"><b>{{'STUDENT-REGISTRATION.LIST.EXPIRYDATE' | translate}}: </b></span><span>{{preferenceEditForm.value.expiry_date | date:'dd/MM/yyyy'}}</span></p>
                            </li> -->
                        </ul>
                       
                    </div>
                <div class="modal-footer">
                <div class="button-demo">
                    <button mat-raised-button type="submit" color="primary" (click)="updateConfirmStudentDetails()">{{'BUTTON.CONFIRM-BTN' | translate}}</button>
                    <button mat-button type="button" (click)="modal.close()">{{'BUTTON.CANCEL-BTN' | translate}}</button>
                </div>
                </div>
        </ng-template>